.attackinput-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(54, 53, 53); */
  height: 90%;
  width: 90%;
  border-radius: 10px;
  gap: 10px;
}

.attackinput-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submit-div {
  height: 160px;
  /* background-color: aliceblue; */
  width: 200px;
}
