.panel {
  height: 100%;
  width: 100%;
  background-color: var(--foreground-color);
  border-radius: 15px;
}

.resize-width-handler {
  width: 8px;
}

/* .resize-width-handler:hover {
  background-color: var(--primary-text-color);
  transition: background-color 250ms ease-in-out;
  background: radial-gradient(#2b2b2b, rgba(255, 255, 255, 300) 70%);
} */

.resize-height-handler {
  height: 8px;
}

/* .resize-height-handler:hover {
  background-color: var(--primary-text-color);
  transition: background-color 250ms ease-in-out;
  background: radial-gradient(#2b2b2b, rgba(255, 255, 255, 300) 70%);
} */
