.panel-left {
  height: 90vh;
  width: 30vw;
  border: 1px solid var(--foreground-color);
  background-color: var(--foreground-color);
  border-radius: 10px;
}

.panel-left-closed {
  height: 90vh;
  width: 10vw;
  border: 1px solid var(--foreground-color);
  background-color: var(--foreground-color);
  border-radius: 10px;
  transition: left 0.3s ease-in-out;
}

.panel-right {
  height: 90vh;
  width: 68vw;
  border: 1px solid var(--foreground-color);
  background-color: var(--foreground-color);
  border-radius: 10px;
}

.left-arrow,
.right-arrow,
.top-arrow,
.bottom-arrow {
  height: 100%;
  width: 20px;
  fill: var(--primary-text-color);
}

.resize-width-handler {
  width: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.with-handle-width {
  /* background-color: aliceblue; */
  width: 60px;
  height: 100%;
  /* background-color: rgb(25, 120, 192); */
  border-radius: 3px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
}

.resize-height-handler {
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.with-handle-height {
  height: 60px;
  width: 30px;
  /* background-color: rgb(25, 120, 192); */
  border-radius: 3px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
}

.resize-width-handler:hover .with-handle-width {
  opacity: 1;
  visibility: visible;
}

.panel-container {
  height: 100%;
  width: 100%;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
