.userbreakdown-container {
  height: 100%;
  width: 100%;
}

.userbreakdown-title {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.country-search {
  width: 200px;
  margin: 20px 0px 30px 30px;
}

.userbreakdown-chart {
  width: 95%;
  height: 100%;
}

.userbreakdown-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.userbreakdown-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
